<%- include("header") -%>
<div>
    <a href="/"> <button class="about">Home</button></a>
</div>
<h1>hello this is about  page of this website</h1>
<p>Which is related to our todolist </p>

<img class="image" src="pexels-andrea-piacquadio-837359.jpg" alt="">



<%- include("footer") -%>